*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial;
}

#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.header {
  width: 100vw;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  background: #2f6f3e;
  color: white;
}


.hero {
  text-align: center;
  background-image: url('../src/assets/hero.png');
  background-size: cover;
  background-position: center;
  color: #000000;
}

.hero p{
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
.cta {
  margin-top: 15px;
  padding: 12px 20px;
  background: #2f6f3e;
  color: white;
  border: none;
  border-radius: 8px;
}

section {
  padding: 25px;
}

.how {
  width: 100%;
  background-image: url('./assets/howtoBG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white; /* helps text stand out */
}
.steps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.step-group{
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
}
.card {
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #ffffff98;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_Info{
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.card_Text{
  text-align: center;
  color: #3d803d;
}
.card_img{
  width: 170px;
  height: 150px;
}

.whatsapp-container {
  width: 250px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.63);
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
  border-radius: 10px;
}

.whatsapp-container:hover {
  background-color: rgba(122, 219, 138, 0.9);
  cursor: pointer;
}
.whatsapp {
  width: 50px;
  height: 50px;
}

.whatsapp-container p {
  text-decoration: none;
  color: #2f6f3e;
  font-weight: bold;
}
a{
  text-decoration: none;
}
.testimonials .card {
  margin-bottom: 10px;
}

.schedule .card {
  display: flex;
  justify-content: space-between;
}

.schedule-group{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer {
  text-align: center;
  padding: 20px;
  background: #2f6f3e;
  color: white;
}

@media (max-width: 760px) {
  .card {
  width: 200px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #ffffff98;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_Info{
  width: 180px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
}